# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Gatsby
.cache/
public/
dist/
.gatsby-context.js

# Build
build/
out/
.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/
cypress/videos/
cypress/screenshots/

# Temporary files
*.log
*.tmp
*.temp
.temp/
.tmp/

# Deployment
.deploy-tmp/
.deploy-gh/
.netlify/

# Git
.gitattributes
.git/
.gitignore

# Misc
.DS_Store
*.pem
.vercel
.turbo

# Old files
old-files/